.App {
  text-align: center;
}

.App-body {
  width: 150%;
  margin-top: -30ch;
  margin-left: -8.5ch;
  border: solid;
  border-color: black;
  background-color: white;
  overflow-y: auto;
  text-align: center;
}

.App-center {
  text-align: center;
  background-color: aqua;
  padding: 10px;
  border-style: solid;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.App-body2 {
  width: 1000px;
  margin-left: -120px;
  border-style: solid;
  position: fixed;
  overflow: auto;
}

.App-body4 {
  border: solid;
}

.App-ul {
  list-style-type: none;
}

.App-labelAlign {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.App-red {
  color: red;
}

.App-body3 {
  width: 800px;
  margin-left: -25px;
  border-style: solid;
  position: fixed;
}

.App-p {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
}

.App-p3 {
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding-top: 0;
}

.App-p4 {
  font-size: small;
  font-weight: bold;
  margin-bottom: 0;
}

.App-p2 {
  font-size: large;
}

.App-h3 {
  font-size: small;
}

.App-faq {
  font-size: medium;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.App-footer {
  font-size: medium;
}

.App-div {
  border: solid;
  background-color: beige;
  width: 60%;
  justify-content: center;
  margin: auto;
}

.App-table, th, td {
  border: 1px solid black;
  align-content: center;
  padding: 6px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.App-a {
  font-size: medium;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-input {
  margin: 10px;
}

.App-submit {
  background-color: #0fc9ee;
  margin: 10px;
}

.App-submit2 {
  background-color: #e3e3e3;
  
}

.App-label {
  font-size: large;
  font-weight: bolder;
  flex-wrap: wrap;
  display: inline-block;
  width: 100px;
  text-align: left;
  margin: 0px;
  position: static;
}

.App-nav a {
  padding: 22px;
  font-size: medium;
  height: auto;
  width: 45%;
  margin-left: 20px;
  position: static;
}

.App-nav a:hover {
  color: red;
}

.App-link {
  color: #61dafb;
}

.dark {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  }

.light {
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  }

.App-button {
  background-color: #0fc9ee;
  margin: 10px;
}

.App-button2 {
  background-color: #f05e5e;
  margin: 10px;
}

.App-p5 {
  color: red;
  margin: 0px;
  font-size: medium;
}
  