.App {
  text-align: center;
}

.App-body {
  width: 150%;
  margin-top: -30ch;
  margin-left: -8.5ch;
  border: solid;
  border-color: black;
  border-width: thin;
  background-color: white;
}

.App-body2 {
  width: 130%;
  margin-top: 2ch;
  margin-left: -6ch;
  border: solid;
  border-color: black;
  border-width: thin;
  background-color: white;
}

.App-p {
  font-size: medium;
}

.App-faq {
  font-size: medium;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.App-a {
  font-size: medium;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-input {
  margin: 10px;
}

.App-submit {
  background-color: #0fc9ee;
}

.App-label {
  font-size: large;
  font-weight: bolder;
}

.App-nav a {
  padding: 22px;
  font-size: medium;
  height: auto;
  width: 45%;
  margin-left: 20px;
}

.App-nav a:hover {
  color: red;
}

.App-link {
  color: #61dafb;
}